<div class="topbar">
  <div class="topbar-title">{{ (pageTitle$ | async) ?? 'Tableau de bord' }}</div>

  <div class="topbar-actions">
    <button class="btn btn-ghost btn-sm" style="position:relative">
      <i class="fa-solid fa-bell"></i>
      <span class="notif-dot"></span>
    </button>
    <button class="btn btn-ghost btn-sm"><i class="fa-solid fa-book"></i> Docs</button>
    <a [routerLink]="'/projects/new'" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus"></i> Nouveau projet</a>
  </div>
</div>
